<!DOCTYPE HTML>
<html>
<body>
  <h1>Home page</h1>
  <form method="GET" action="/search">
    <input type="text" name="q" placeholder="Search">
    <button>Click Me... I dare you.</button>
  </form>
</body>
</html>
