<!DOCTYPE HTML>
<html>
<body>
  <h1>Search Page</h1>
  <form method="GET" action="/search">
    <input type="text" name="q" placeholder="Search">
    <button>Click Me... I dare you.</button>
  </form>
  <h1> Movies: </h1>
  <% movies.forEach(function(movie) { %>
    <div>
      <div>
        <h3>Title:</h3>
        <a href="/movie?id=<%= movie.imdbID %>">
          <%= movie.Title %>

      <!-- Title is capitalized bc that's how it's done in the omdB response -->

        </a>
     </div>
     <div>
       <h3>Plot:</h3>
       <p>
        <%= movie.Plot %>
       </p>
     </div>
    </div>
  <% }); %>
</body>
</html>
